<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DS Web</a>

    <div class="d-flex">
      {{#if data.user}}
      <span class="navbar-text">
        Hello, {{data.user.username}} [ {{data.user.role}} ]
        &nbsp;
      </span>
      {{/if}}
      <a href="/auth/logout" class="btn btn-danger" type="submit">Logout</a>
    </div>
  </div>
</nav>